<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.mapper.UserMapper" >
	<select id = "selectUserByUserId" resultType = "com.zw.entity.User">
		select name, age from TUser where id = ?
	</select>
	<select id = "selectAllUsers" resultType = "com.zw.entity.User">
		select name, age from TUser
	</select>
</mapper>